## 10-3　日時差への変換

In [1]:
import pandas as pd

In [2]:
reserve_tb = pd.read_csv('reserve.csv')
print(reserve_tb.shape)
reserve_tb.head()

(4030, 9)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

In [3]:
reserve_tb['reserve_datetime'] = pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
print(reserve_tb['reserve_datetime'].dtype)

datetime64[ns]

In [4]:
reserve_tb['checkin_datetime'] = pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'], format='%Y-%m-%d%H:%M:%S')
reserve_tb = reserve_tb[['reserve_id', 'hotel_id', 'customer_id', 'reserve_datetime', 'checkin_datetime']]
reserve_tb.head()

  reserve_id hotel_id customer_id    reserve_datetime    checkin_datetime
0         r1     h_75         c_1 2016-03-06 13:09:42 2016-03-26 10:00:00
1         r2    h_219         c_1 2016-07-16 23:39:55 2016-07-20 11:30:00
2         r3    h_179         c_1 2016-09-24 10:03:17 2016-10-19 09:00:00
3         r4    h_214         c_1 2017-03-08 03:20:10 2017-03-29 11:00:00
4         r5     h_16         c_1 2017-09-05 19:50:37 2017-09-22 10:30:00

年の差分

In [5]:
reserve_tb['diff_year'] = reserve_tb['reserve_datetime'].dt.year - reserve_tb['checkin_datetime'].dt.year

月の差分

In [6]:
reserve_tb['diff_month'] = (reserve_tb['reserve_datetime'].dt.year*12 + reserve_tb['reserve_datetime'].dt.month)\
- (reserve_tb['checkin_datetime'].dt.year*12 + reserve_tb['checkin_datetime'].dt.month)

日単位での差分

In [7]:
reserve_tb['diff_day'] = (reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[D]')

時単位での差分

In [8]:
reserve_tb['diff_hour'] = (reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[h]')

分単位での差分

In [9]:
reserve_tb['diff_minute'] = (reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[m]')

秒単位での差分

In [10]:
reserve_tb['diff_second'] = (reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[s]')

日／時／分／秒単位に変換した場合、少数点以下は切り上げた結果が返ってくるため、注意が必要である。

In [11]:
reserve_tb.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_datetime,diff_year,diff_month,diff_day,diff_hour,diff_minute,diff_second
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26 10:00:00,0,0,-20.0,-477.0,-28611.0,-1716618.0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20 11:30:00,0,0,-4.0,-84.0,-5031.0,-301805.0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19 09:00:00,0,-1,-25.0,-599.0,-35937.0,-2156203.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29 11:00:00,0,0,-22.0,-512.0,-30700.0,-1841990.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22 10:30:00,0,0,-17.0,-399.0,-23920.0,-1435163.0