## 3-2　合計値の算出

In [1]:
import pandas as pd
import psycopg2
import config

In [2]:
conn = psycopg2.connect(**config.connection_config)

In [3]:
query ="""

SELECT
  hotel_id,
  people_num,
  SUM(total_price) AS price_num
FROM
  reserve_tb
GROUP BY
  hotel_id, people_num
ORDER BY
  hotel_id, people_num
LIMIT
  5
;

"""

pd.read_sql(query, con=conn)

  hotel_id  people_num  price_num
0      h_1           1     156600
1      h_1           2     156600
2      h_1           3     391500
3      h_1           4     417600
4     h_10           1      11200