## 3-3　極値、代表値の算出

In [1]:
import pandas as pd
import psycopg2
import config

In [2]:
conn = psycopg2.connect(**config.connection_config)

PostgreSQL では、`MEDIAN` 関数は実装されていない。

In [3]:
query ="""

SELECT
  hotel_id,
  MAX(total_price) AS price_max,
  MIN(total_price) AS price_min,
  AVG(total_price) AS price_avg,
  PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY total_price) AS price_median,
  PERCENTILE_CONT(0.2) WITHIN GROUP(ORDER BY total_price) AS price_20per
FROM
  reserve_tb
GROUP BY
  hotel_id
LIMIT
  5
;

"""

pd.read_sql(query, con=conn)

  hotel_id  price_max  price_min      price_avg  price_median  price_20per
0      h_1     208800      26100  112230.000000      104400.0      73080.0
1     h_10      67200      11200   42933.333333       50400.0      26880.0
2    h_100      57600       4800   27600.000000       28800.0       9600.0
3    h_101     168000      14000   75764.705882       56000.0      30800.0
4    h_102      72000      12000   32769.230769       24000.0      18000.0