## 3-4　ばらつき具合の算出

In [1]:
import pandas as pd
import psycopg2
import config

In [2]:
conn = psycopg2.connect(**config.connection_config)

In [3]:
query ="""

SELECT
  hotel_id,
  COALESCE(VARIANCE(total_price), 0) AS price_var,
  COALESCE(STDDEV(total_price), 0) AS price_std
FROM
  reserve_tb
GROUP BY
  hotel_id
ORDER BY
  hotel_id
LIMIT
  5
;

"""

pd.read_sql(query, con=conn)

  hotel_id     price_var     price_std
0      h_1  3.186549e+09  56449.526127
1     h_10  8.258133e+08  28736.968061
2    h_100  3.198316e+08  17883.835689
3    h_101  2.402441e+09  49014.703676
4    h_102  3.576923e+08  18912.755159