## 3-5　最頻値の算出

In [1]:
import pandas as pd
import psycopg2
import config

In [2]:
conn = psycopg2.connect(**config.connection_config)

In [3]:
query ="""

SELECT
  ROUND(total_price, -3) AS total_price_round,
  COUNT(*) AS rsv_cnt
FROM
  reserve_tb
GROUP BY
  total_price_round
ORDER BY
  rsv_cnt DESC
LIMIT
  5

"""

pd.read_sql(query, con=conn)

   total_price_round  rsv_cnt
0            20000.0       58
1            50000.0       56
2            40000.0       55
3            10000.0       52
4            17000.0       49

In [4]:
query ="""

WITH rsv_cnt_table AS(
  SELECT
    ROUND(total_price, -3) AS total_price_round,
    COUNT(*) AS rsv_cnt
  FROM
    reserve_tb
  GROUP BY
    total_price_round
)

SELECT
  total_price_round
FROM
  rsv_cnt_table
WHERE
  rsv_cnt = (SELECT max(rsv_cnt) FROM rsv_cnt_table)

"""

pd.read_sql(query, con=conn)

   total_price_round
0            20000.0

In [5]:
query ="""

SELECT
  ROUND(total_price, -3) AS total_price_round
FROM
  reserve_tb
GROUP BY
  total_price_round
ORDER BY
  COUNT(*) DESC
LIMIT
  1

"""

pd.read_sql(query, con=conn)

   total_price_round
0            20000.0