## 2-4　集約IDに基づくサンプリング

In [1]:
import pandas as pd

In [2]:
reserve_tb = pd.read_csv('reserve.csv')
print(reserve_tb.shape)
reserve_tb.head()

(4030, 9)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

データの 50 % をサンプリングするので、1 つのレコードにおいて、残る確率と残らない確率が 50 % ずつとなる。<br>
これをもとに、2 つのレコードの確率が計算されている。

1 つ目の解決する方法は、最初に集約をするため、サンプリングで抽出されない顧客についても処理が発生してしまう。

In [3]:
target = pd.Series(reserve_tb['customer_id'].unique()).sample(frac=0.5)
target.head()

542    c_617
713    c_808
535    c_610
444    c_508
256    c_296
dtype: object

`sample` を使用するために、`pd.Series` に変換している。

In [4]:
sampling = reserve_tb[reserve_tb['customer_id'].isin(target)]
print(sampling.shape)
sampling.head()

(1990, 9)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000