## 5-1　レコードデータにおけるモデル検証用のデータ分割

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [2]:
production_tb = pd.read_csv('production.csv')
print(production_tb.shape)
production_tb.head()

(1000, 4)

  type      length  thickness  fault_flg
0    E  274.027383  40.241131      False
1    D   86.319269  16.906715      False
2    E  123.940388   1.018462      False
3    B  175.554886  16.414924      False
4    B  244.934740  29.061081      False

In [3]:
train_data, test_data, train_target, test_target = train_test_split(production_tb.drop('fault_flg', axis=1), production_tb[['fault_flg']], test_size=0.2)

train_data.reset_index(inplace=True, drop=True)
test_data.reset_index(inplace=True, drop=True)
train_target.reset_index(inplace=True, drop=True)
test_target.reset_index(inplace=True, drop=True)

print(train_data.shape)
print(test_data.shape)

(800, 3)
(200, 3)

In [4]:
row_no_list = list(range(len(train_target)))
k_fold = KFold(n_splits=4, shuffle=True)

for train_cv_no, test_cv_no in k_fold.split(row_no_list):
    train_cv = train_data.iloc[train_cv_no, :]
    test_cv = train_data.iloc[test_cv_no, :]