## 9-6　カテゴリ型の補完

In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [2]:
production_missc_tb = pd.read_csv('production_missing_category.csv')
print(production_missc_tb.shape)
production_missc_tb.head()

(1000, 4)

  type      length  thickness  fault_flg
0    E  274.027383  40.241131      False
1    D   86.319269  16.906715      False
2    E  123.940388   1.018462      False
3    B  175.554886  16.414924      False
4    B  244.934740  29.061081      False

In [3]:
production_missc_tb.isnull().sum()

type         100
length         0
thickness      0
fault_flg      0
dtype: int64

In [4]:
production_missc_tb.replace('None', np.nan, inplace=True)

train = production_missc_tb.dropna(subset=['type'], inplace=False)
test = production_missc_tb.loc[production_missc_tb.index.difference(train.index), :]

print(train.shape)
print(test.shape)

(900, 4)
(100, 4)

In [5]:
kn = KNeighborsClassifier(n_neighbors=3)
kn.fit(train[['length', 'thickness']], train['type'])
test['type'] = kn.predict(test[['length', 'thickness']])

In [6]:
test.head()

   type      length  thickness  fault_flg
8     E  276.386631  29.899611      False
26    E  263.844324  34.664251      False
30    E  129.364736  21.346752      False
36    A  203.378972  30.286454      False
41    E  157.463166  11.166165      False