## 10-1　日時型、日付型への変換

In [1]:
import pandas as pd

In [2]:
reserve_tb = pd.read_csv('reserve.csv')
print(reserve_tb.shape)
reserve_tb.head()

(4030, 9)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

In [3]:
reserve_tb['reserve_datetime'] =  pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
print(reserve_tb['reserve_datetime'].dtype)

datetime64[ns]

In [4]:
 pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S').head()

0   2016-03-06 13:09:42
1   2016-07-16 23:39:55
2   2016-09-24 10:03:17
3   2017-03-08 03:20:10
4   2017-09-05 19:50:37
Name: reserve_datetime, dtype: datetime64[ns]

In [5]:
pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'], format='%Y-%m-%d%H:%M:%S').head()

0   2016-03-26 10:00:00
1   2016-07-20 11:30:00
2   2016-10-19 09:00:00
3   2017-03-29 11:00:00
4   2017-09-22 10:30:00
dtype: datetime64[ns]

In [6]:
pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H-%M-%S').dt.date.head()

0    2016-03-06
1    2016-07-16
2    2016-09-24
3    2017-03-08
4    2017-09-05
Name: reserve_datetime, dtype: object

In [7]:
pd.to_datetime(reserve_tb['checkin_date'], format='%Y-%m-%d').dt.date.head()

0    2016-03-26
1    2016-07-20
2    2016-10-19
3    2017-03-29
4    2017-09-22
Name: checkin_date, dtype: object