## 6-2　オーバーサンプリング

In [1]:
import pandas as pd
from imblearn.over_sampling import SMOTE

In [2]:
production_tb = pd.read_csv('production.csv')
print(production_tb.shape)
production_tb.head()

(1000, 4)

  type      length  thickness  fault_flg
0    E  274.027383  40.241131      False
1    D   86.319269  16.906715      False
2    E  123.940388   1.018462      False
3    B  175.554886  16.414924      False
4    B  244.934740  29.061081      False

In [3]:
production_tb['fault_flg'].value_counts()

False    948
True      52
Name: fault_flg, dtype: int64

In [4]:
sample_number = production_tb.query("fault_flg ==False").shape[0]
print(sample_number)

948

In [5]:
sm = SMOTE(sampling_strategy='auto', k_neighbors=5, random_state=71)
blance_data, blance_target = sm.fit_resample(production_tb[['length', 'thickness']], production_tb['fault_flg'])

In [6]:
print(blance_data.shape)
print(blance_target.shape)

(1896, 2)
(1896,)

In [7]:
df = pd.concat([blance_data, blance_target], axis=1)
df = df.sample(sample_number, random_state=22).reset_index(drop=True)

In [8]:
print(df.shape)
df.head()

(948, 3)

       length  thickness  fault_flg
0  114.513598  15.427047       True
1  211.817426  31.568870      False
2  199.327041   9.612863      False
3  222.368079  42.858009      False
4  247.210784   8.230368      False

In [9]:
df['fault_flg'].value_counts()

False    480
True     468
Name: fault_flg, dtype: int64