## 3.5.4　frequency encoding

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import FeatureHasher

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train_x =train.drop(['Survived'], axis=1)
train_y = train['Survived']
test_x = test.copy()

train_x = train_x.drop(['PassengerId'], axis=1)
test_x = test_x.drop(['PassengerId'], axis=1)

train_x = train_x.drop(['Name', 'Ticket', 'Cabin'], axis=1)
test_x = test_x.drop(['Name', 'Ticket', 'Cabin'], axis=1)

num_cols = [col for col in train_x.columns if train_x[col].dtype != 'object']
cat_cols = [col for col in train_x.columns if train_x[col].dtype == 'object']

In [3]:
train_x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [4]:
for c in cat_cols:
    freq = train_x[c].value_counts()
    train_x[c] = train_x[c].map(freq)
    test_x[c] = test_x[c].map(freq)

カテゴリ変数を、各水準の出現頻度で置き換えている。

In [5]:
train_x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3  577  22.0      1      0   7.2500     644.0
1       1  314  38.0      1      0  71.2833     168.0
2       3  314  26.0      0      0   7.9250     644.0
3       1  314  35.0      1      0  53.1000     644.0
4       3  577  35.0      0      0   8.0500     644.0