## 4.4.2.1　学習データとテストデータ

In [25]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [26]:
iris = load_iris()

X, y = iris.data, iris.target

In [27]:
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['Species'] = iris.target

print(iris_df.shape)
iris_df[0:4]

(150, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0

In [28]:
iris_df[50:54]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1

In [29]:
iris_df[100:104]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2
102,7.1,3.0,5.9,2.1,2
103,6.3,2.9,5.6,1.8,2

3種類の花が、50データずつ用意されている。

In [39]:
print('Setosa:', len(iris_df[iris_df['Species'] == 0]))
print('Virsicolor:', len(iris_df[iris_df['Species'] == 1]))
print('Virginica:', len(iris_df[iris_df['Species'] == 2]))

Setosa: 50
Virsicolor: 50
Virginica: 50

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 123)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105,)
(45,)

X_trainとy_trainを用いて、$y = a  X + b$の関係性を導き出す。<br>
そしてX_testを代入し、予測値のy_predを求め、正解値のy_testと比較を行う。