## 4.4.1.3　特徴量の正規化

In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [7]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [100, 200, 400, 500, 800] })

df.head()

   A    B
0  1  100
1  2  200
2  3  400
3  4  500
4  5  800

#### 分散正規化

正規化で得られる結果はNumpy配列となる。

In [14]:
stdsc = StandardScaler()

X = stdsc.fit(df)
X = stdsc.transform(df)

print(X)

[[-1.41421356 -1.22474487]
 [-0.70710678 -0.81649658]
 [ 0.          0.        ]
 [ 0.70710678  0.40824829]
 [ 1.41421356  1.63299316]]

In [15]:
pd.DataFrame(X, columns=['A', 'B'])

          A         B
0 -1.414214 -1.224745
1 -0.707107 -0.816497
2  0.000000  0.000000
3  0.707107  0.408248
4  1.414214  1.632993

In [10]:
df.head()

   A    B
0  1  100
1  2  200
2  3  400
3  4  500
4  5  800

In [11]:
df.std()

A      1.581139
B    273.861279
dtype: float64

#### 最小最大正規化

こちらも、正規化で得られる結果はNumpy配列となる。

In [16]:
mmsc = MinMaxScaler()

X = mmsc.fit(df)
X = mmsc.transform(df)

X

array([[0.        , 0.        ],
       [0.25      , 0.14285714],
       [0.5       , 0.42857143],
       [0.75      , 0.57142857],
       [1.        , 1.        ]])

In [17]:
pd.DataFrame(X, columns=['A', 'B'])

      A         B
0  0.00  0.000000
1  0.25  0.142857
2  0.50  0.428571
3  0.75  0.571429
4  1.00  1.000000