## 4.4.1.2　カテゴリ変数のエンコーディング

In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'a', 'b', 'c']
    })

print(df.dtypes)
print(df.shape)
df.head()

A     int64
B    object
dtype: object
(5, 2)

   A  B
0  1  a
1  2  b
2  3  a
3  4  b
4  5  c

#### カテゴリ変数のエンコーディング

In [14]:
le = LabelEncoder()

le.fit(df['B'])
le.transform(df['B'])

array([0, 1, 0, 1, 2])

元の値を確認

In [15]:
le.classes_

array(['a', 'b', 'c'], dtype=object)

In [16]:
df['B'] = le.fit_transform(df['B'])

df

   A  B
0  1  0
1  2  1
2  3  0
3  4  1
4  5  2

#### One-hotエンコーディング

In [19]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'a', 'b', 'c']
    })

df.head()

   A  B
0  1  a
1  2  b
2  3  a
3  4  b
4  5  c

In [18]:
df_ohe = pd.get_dummies(df.loc[:, 'B'])

df_ohe

   a  b  c
0  1  0  0
1  0  1  0
2  1  0  0
3  0  1  0
4  0  0  1