## 4.4.1.1　欠損値への対応

In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame( {
        'A': [1, np.nan, 3, 4, 5],
        'B': [6, 7, 8, np.nan, 10],
        'C': [11, 12, 13, 14, 15]})

print(df.dtypes)
print(df.shape)
df.head()

A    float64
B    float64
C      int64
dtype: object
(5, 3)

     A     B   C
0  1.0   6.0  11
1  NaN   7.0  12
2  3.0   8.0  13
3  4.0   NaN  14
4  5.0  10.0  15

In [11]:
df.isnull()

       A      B      C
0  False  False  False
1   True  False  False
2  False  False  False
3  False   True  False
4  False  False  False

In [12]:
df.isnull().sum()

A    1
B    1
C    0
dtype: int64

In [13]:
df.isnull().sum().sum()

2

#### 欠損値の除去

欠損値のある行が削除される。

In [14]:
df.dropna()

     A     B   C
0  1.0   6.0  11
2  3.0   8.0  13
4  5.0  10.0  15

#### 欠損値の補完

欠損値を何かしらの値で埋める。

In [15]:
df = pd.DataFrame( {
        'A': [1, np.nan, 3, 4, 5],
        'B': [6, 7, 8, np.nan, 10],
        'C': [11, 12, 13, 14, 15]})

In [16]:
df.fillna(df.mean())

      A      B   C
0  1.00   6.00  11
1  3.25   7.00  12
2  3.00   8.00  13
3  4.00   7.75  14
4  5.00  10.00  15